* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: sans-serif;
}
.main {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 75px 1fr 150px;
	grid-template-areas:
		"heading heading"
		"toolbar content"
		"footer footer";
	height: 100%;
	gap: 12px;
	padding: 12px;
	background: #f2f2f2;
}
.header {
	grid-area: heading;
	border-bottom: 2px solid #000;
  padding-bottom: 6px;
}
.header img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.toolbar {
	grid-area: toolbar;
	border-right: 2px solid #000;
	padding-bottom: 6px;
}
.content {
	grid-area: content;
	padding-bottom: 6px;
}
.footer {
	grid-area: footer;
	border-top: 2px solid #000;
	padding-bottom: 6px;
}
